---
export interface Props {
  prescriptions: any[]
  color: "red" | "green" | "blue"
  title: string
}

const border = {
  blue: 'border-blue-600',
  green: 'border-green-600',
  red: 'border-red-600'
}

const bg = {
  blue: 'bg-blue-200',
  green: 'bg-green-200',
  red: 'bg-red-200'
}

const hover = {
  blue: 'hover:decoration-blue-600',
  green: 'hover:decoration-green-600',
  red: 'hover:decoration-red-600'
}

const { prescriptions = [], color = "red", title } = Astro.props
---

<article class={`${border[color]} border-l-4 bg-white shadow-md`}>
  <h2 class={`md:px-8 px-4 text-xl font-semibold border-b md:py-4 py-5 ${bg[color]} bg-opacity-20 backdrop-blur-lg
    sticky top-0`}>{ title }</h2>
  <ul>
    { prescriptions.map((p) => <li
      class="flex flex-col md:items-center md:flex-row md:px-8 px-4 md:py-4 py-5 tracking-wide border-gray-300 border-b">
      <span class="font-serif text-xl w-24 mb-2 md:mb-0 shrink-0">{p.code}</span>
      <div class="md:text-lg flex flex-col items-start gap-y-1">
        <a href={p.de.link} target="_blank" class={`cursor-pointer hover:underline ${hover[color]}`}>{p.de.title}</a>
        <a href={p.fr.link} target="_blank" class={`cursor-pointer hover:underline ${hover[color]}`}>{p.fr.title}</a>
      </div>
    </li>) }
  </ul>
</article>