---
export interface Props {
  prescriptions: any[]
  color: "red" | "green" | "blue"
}

const border = {
  blue: 'border-blue-600',
  green: 'border-green-600',
  red: 'border-red-600'
}

const hover = {
  blue: 'hover:decoration-blue-600',
  green: 'hover:decoration-green-600',
  red: 'hover:decoration-red-600'
}

const { prescriptions = [], color = "red-600" } = Astro.props
---

<ul class={`${border[color]} border-l-4 bg-white shadow-md`}>
  { prescriptions.map((p) => <li
    class="flex flex-col md:items-center md:flex-row px-4 md:px-2 md:py-4 py-5 tracking-wide border-gray-300 border-b text-black">
    <span class="font-serif text-xl w-24 md:pl-6 mb-2 md:mb-0 ">{p.code}</span>
    <div class="md:text-lg flex flex-col items-start gap-y-1">
      <a href={p.de.link} target="_blank" class={`cursor-pointer hover:underline ${hover[color]}`}>{p.de.title}</a>
      <a href={p.fr.link} target="_blank" class={`cursor-pointer hover:underline ${hover[color]}`}>{p.fr.title}</a>
    </div>
  </li>) }
</ul>